body,
.wine-card {
    font-family: "Calibri", "Lato", sans-serif;
    font-weight: 300;
    background-color: none;
    border: none;
    border-radius: none;
    font-size: initial;
    color: initial;
}

iframe {
    height: 90%;
}

.wine-info .wine-detail {
    padding-bottom: 15 px;
    color: initial;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 2px;
    /* padding: 0; */
    /* color: #222; */
    font-family: "Cinzel", sans-serif;
    font-weight: 100;
}

.wine-info .wine-detail {
    padding-bottom: 15px;
    color: initial;


}
a.button, button {
    height: 34px;
    padding: 0 5px;
    color: #fff;
    font-weight: 500;
    /* line-height: 1; */
    text-align: center;
    background-color: transparent; 
    border-radius: 4px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #3f3633;
    border-radius: 1px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: "Calibri", "Lato", sans-serif;
    font-size: 11px; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3f3633;
}

.wine-info p.price {
    margin-top: 2px;
    color: #464646;
    font-size: 30px;
    font-weight: 700;
    font-family: "Cinzel";
    font-weight: 100;
}
a.button:hover, a.button:focus, a.button:active, button:hover, button:focus, button:active {
    color: inherit;
    background-color: #F0D36C !important;
    border: 1px solid #155284;
    border: 1px solid #F0D36C;
}
.styled-select select {
    cursor: pointer;
    width: 100%;
    height: 34px;
    padding: 0 10px;
    color: #6c6c6c;
    font-family: Calibri,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    background-color: #efefe9;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
}

#vs-injected-div.vs-cart-closed a {
    display: block;
    height: 60px;
    width: 60px;
    background: #efefe9 url(https://www.phillymead.com/img/basket.svg);
    border: none;
    border-right-width: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    background-repeat: no-repeat;
}

a.button.ghost-button, button.ghost-button {
    color: initial; 
    background-color: #fff;
}
#vs-injected-div {
    display: none;
}
.cart-quantity {
    margin: 5px 0 -8px;
    color: #3f3633;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    font-family: "Cinzel";
}