

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}


.center-button {
    margin: auto !important;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
}

.footer a {
    padding-left: 5%;
    padding-right: 5%;
    width:32px;
    height:32px;
}



.col-sm img {
    text-align: center !important;
    width: 40px !important;
    height: 40px !important;
}

.footer-banner {
    background-color: #EFEFE9;
    text-align: center;
}


.custom-footer {
    color: darkgray;
}

.button:hover {
  background-color: #F0D36C;
    cursor: pointer;
}

input[type=email] {
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.about-image img {
    height: 500px;
    
}

img.aboutus {
    height: 500px;
    display: inline;
    
}