//button {
//    height: 50px;
//    width: 160px;
//    background-color: #F0D36C;
//    color: #3D315F;
//    text-transform: uppercase;
//    font-weight: bold;
//    letter-spacing: 1px;
//}

.button {
    height: 51px;
    width: 160px;
    background-color: #F0D36C;
    color: #3D315F;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1px 7px 2px;
    margin: 10px;
    box-shadow: 0 0 1px 0 #F0D36C;
}

input[type="email"] {
    width: 240px;
    height: 48px;
    border: 0;
    border-radius: 0px;
    box-shadow: 0 0 1px 0 grey;
    background: #EFEFE9;
    margin: 10px;
}
