button {
    height: 50px;
    width: 160px;
    background-color: #F0D36C;
    color: #3D315F;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.button {
    height: 51px;
    width: 160px;
    background-color: #F0D36C;
    color: #3D315F;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1px 7px 2px;
    margin: 10px;
    box-shadow: 0 0 1px 0 #F0D36C;
}

input[type="email"] {
    width: 240px;
    height: 48px;
    border: 0;
    border-radius: 0px;
    box-shadow: 0 0 1px 0 grey;
    background: #EFEFE9;
    margin: 10px;
}

.button2 {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #3f3633;
    border-radius: 1px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    color: #3f3633;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    font-weight: bold;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%)scaleY(1)scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55,0,0.1,1);
        z-index: -1;
    }

    &:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%)scaleY(1)scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #F0D36C;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55,0,0.1,1);
        z-index: -1;
    }

    &:hover {
        //color: #ffffff;
        border: 1px solid #F0D36C;

        &:before {
            top: -35%;
            background-color: #F0D36C;
            transform: translateX(-50%)scaleY(1.3)scaleX(0.8);
        }

        &:after {
            top: -45%;
            background-color: #F0D36C;
            transform: translateX(-50%)scaleY(1.3)scaleX(0.8);
        }
    }
}
