@import "variables";
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
}

.wrapper {
    //width: 960px;
    //padding: 0 20px;
    //margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: #DDDFD6;
    position: fixed;
    width: 100vw;
    z-index: 10;
    transition: background-color 0.75s ease;

    &.white {
        background-color: #FFFFFF;
        transition: background-color 0.5s ease;
        border-bottom: #DDDFD6 solid 1px;
    }

    .nav--primary {
        margin: 0 30px 0 30px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        display: flex;
        justify-content: space-between;
        align-self: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                all: unset;
                //color: @gray-1;
                color: #2C1E1E;
                //color: #342828; nice dark color
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            li {
                display: inline-block;
                margin: 0 10px 0 0;

                a {
                    text-decoration: none;
                }
            }

            &:first-child {
                //background-color: red;
            }

            &:last-child {
                //background-color: yellow;

                li {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 10px;
        display: flex;

        img {
            margin: auto;
        }
    }
}


