@import "variables";
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
    color: #5B4E4A;
}

a {
    text-decoration: none;
    color: @color-secondary;

    &:hover { color: inherit; }
}

p {
    font-size: 16px;
    font-size: 16px;
    text-align: left;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', serif;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 64px;
    color: #3f3633;
    line-height: 1;
}

h2 {
    //font-family: 'Cantata One', serif;
    //font-family: 'Rufina', serif;
    //font-family: 'Lusitana', serif;
    //font-family: 'Radley', serif;
    //font-family: 'Ovo', serif;
    //font-family: 'Libre Baskerville', serif;
    //Default
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 36px;
    color: #3f3633;
    line-height: 1;
    text-transform: capitalize;
}

h3 {
    font-family: 'Cinzel', serif;
    font-weight: normal;
    font-size: 30px;
    color: black;
    line-height: 1;
    text-transform: uppercase;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    color: #3f3633;
}

h5 {
    font-size: 18px;
    margin: 0px;
    color: #3f3633;
}

header {
    //display: grid;
    //flex-direction: row;
    //justify-content: space-between;
    height: 60px;
    background-color: #EFEFE9;
    position: fixed;
    width: 100vw;
    z-index: 10;
    transition: background-color 0.75s ease;

    .wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 161px 1fr;
    }

    &.white {
        background-color: #FFFFFF;
        transition: background-color 0.5s ease;
        border-bottom: #DDDFD6 solid 1px;
    }

    .nav--primary {
        margin: 0 30px 0 40px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        display: flex;
        justify-content: space-between;
        align-self: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                all: unset;
                //color: @gray-1;
                color: #2C1E1E;
                //color: #342828; nice dark color
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            li {
                display: inline-block;
                margin: 0 10px 0 0;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .nav--secondary {
        margin: 0 40px 0 30px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        display: flex;
        justify-content: flex-end;
        align-self: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                all: unset;
                //color: @gray-1;
                color: #2C1E1E;
                //color: #342828; nice dark color
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            li {
                display: inline-block;
                margin: 0 10px 0 0;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    a {
        height: 60px;
    }
    img {
        margin: 10px 0;
    }

    @media (max-width: 1280px) {
        //.nav--primary {
        //    margin: 0 30px 0 40px;
        //}
        //
        //.nav--secondary {
        //    margin: 0 40px 0 30px;
        //}
    }

    @media (max-width: @width-mobile) {
        .nav--primary {
            margin: 0 30px 0 15px;
        }

        .nav--secondary {
            margin: 0 15px 0 30px;
        }
     }
}

footer {
    background-color: #EFEFE9;
    display: flex;
    flex-direction: column;
    text-align: center;

    .footer--social {
        padding: 25px 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0 5px;
            }
        }

        a {
            display: block;
            width: 32px;
            height: 32px;
        }

        img {
            height: 100%;
        }

    }

    .footer--copyright {
        padding: 0 10px 20px 10px;
        font-size: 13px;
    }
}


