#page--index {
  .hero {
    margin-top: 60px;
    min-height:calc(100vh - 60px);
    background-color: #DDDFD6;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .wrapper {
      z-index: 4;
      text-align: center;

      .content {
        padding: 50px 100px;

        h1 {
          font-size: 64px;
          line-height: 1.2;
          //color: #271A48;
          //color: #271A48; dark violet
          //color: #0F0925;
          color: #3D315F;
        }

        p {
          font-size: 22px;
          line-height: 1.5;
          color: #5B4E4A;
          margin: 22px 0 40px 0;
        }

        button {
          height: 50px;
          width: 160px;
          background-color: #F0D36C;
          color: #3D315F;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
        }

      }
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 65%;
      max-height: 100%;
    }
  }

}

#page--about-us {

}
