@import "variables";


.section {
    padding: 60px 0;
    box-sizing: border-box;
}

.section--hero {
    background-color: #DDDFD6;
    z-index: 2;
    padding: 0;

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 60px;

        .hero--content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 745px;
            z-index: 4;

            .wrapper {
                padding: 0 100px 0 80px;

                h1 {
                    font-size: 48px;
                    line-height: 1.2;
                    color: #362c55;
                    text-align: left;
                    margin: 0;
                }

                p {
                    font-size: 22px;
                    line-height: 1.5;
                    color: #5B4E4A;
                    margin: 32px 0 40px 0;
                    text-align: left;
                }
            }
        }

        .hero--image {
            position: relative;
            width: 100%;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 140%;
                z-index: 1;
            }
        }
    }

    @media (max-width: 1280px) {
        .hero {
            .hero--content {
                height: 645px;

                .wrapper {
                    padding: 0 100px 0 30px;
                }
            }
        }
    }

    @media (max-width: 1068px) {
        .hero {
            .hero--content {
                height: 545px;
            }
        }

    }

    @media (max-width: 1024px) {

    }

    @media (max-width: 1008px) {

    }
}

.section--about-us {
    background-color: #fbf8f8;
    padding: 0;

    .about-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        .about-us--content {
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;

            .wrapper {
                padding: 60px 80px 60px 80px;
                text-align: center;
            }

            h2 {
                color: #3f3633;
                text-align: center;
                margin-top: 30px;
            }

            p {

                color: #5B4E4A;
                margin: 22px 0 40px 0;
                z-index: 3;
            }
        }

        .about-us--image {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 120%;
                z-index: 1;
            }
        }
    }

    @media (max-width: 1280px) {
        .about-us {
            .about-us--content {
                .wrapper {
                    padding: 60px 40px 60px 80px;
                }
            }
        }
    }
}

.section--product-list {
    text-align: center;
    background-color: white;

    .wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 60px 0;
    }

    .product-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
        margin: 30px 80px;
    }

    .product-item {
        text-align: center;
        width: 100%;
        margin: 0 auto;

        h4 {
            margin: 10px 0;
        }

        img {
            width: 100%;
        }
    }

    .product-item--1 {
        h4 {
            color: #020B3C;
        }
    }

    .product-item--2 {
        h4 {
            color: #83410D;
        }
    }

    .product-item--3 {
        h4 {
            color: #7D0C09;
        }
    }

    h2 {
        color: #3f3633;
    }

    button {
        width: 200px
    }
}

.section--newsletter {
    background-color: #DDDFD6;
    padding: 0;

    .newsletter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;


        .newsletter--content {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 760px;
        }

        .newsletter--image {
            position: relative;
            width: 100%;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 120%;
                z-index: 1;
            }
        }
    }

    input[type="email"] {
        width: 200px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        padding: 8px 12px;
        box-shadow: 0 0 2px 0 darken(#292C44, 20%);
        background: #e3e0df;
    }

}

.section--placeholder {
    background-color: #DDDFD6;
    height: 500px;
}

.section--placeholder-white {
    background-color: white;
    height: 500px;
}


